RMT_DB_URL=jdbc:mysql://localhost:3306/rmt?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
RMT_DB_USERNAME=rmt
RMT_DB_PASSWORD=change_me
RMT_JWT_SECRET=replace_with_base64_secret_at_least_256_bits
